div#block-indicatorcard {
    position: fixed;
    left: 4%;
    display: none;
    max-width: 55em;
    width: 30%;
    top: 175px;
    z-index: 5000;
    height: 75%;
    background: white;
}

div#block-indicatorcard .node__content{
    display:  flex;
    flex-direction:  column;
    height:  100%;
	overflow: none;
}

#indicator-chart{
	height:250px;
	width:100%;
}
button.close,
div#fancy_login_close_button {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #ffffff;
    background: #90c14f;
    margin: 10px;
}

.indicator-image-title {
    height: 200px;
}
div.view-indicator-policies-and-targets div.view-content h3 {
    font-size: 12px;
	margin: 0px;
}
div.view-indicator-policies-and-targets .views-field.views-field-title-1 {
    font-size: 10px;
}
div.view-indicator-policies-and-targets .row{
	display: contents;
}

img.image-style-indicator-card {
    width:  100%;
}

.indicator-title {
    position: absolute;
    top: 110px;
    z-index: 2;
    font-size: 20px;
	 width:  100%;
    padding: 15px;
    background: #0000005e;
    color: white;
}
.indicator-breadcrumbs {
    position: absolute;
    top: 10px;
    z-index: 2;
    font-size: 12px;
    width: 100%;
    padding: 5px;
    background: #0000005e;
    color: white;
}
.indicator-content-wrapper{
	padding: 15px;
	overflow: auto;
}
#block-indicatorcard > div,
.node.node--type-indicator {
    height: 100%;
	display:  flex;
	flex-direction: column;
	overflow-x:  hidden;
	overflow-y:  auto;
}
.indicator-policies .views-element-container {
    color: #b3b3b3;
}